body{
    margin: 0;
    padding: 0;
    background: url("../assets/imgs/img-sasha.png");
    background-size: cover;
    font-family: sans-serif;
    
}
::-webkit-scrollbar-thumb {
    background: rgb(209, 206, 206);
}

::-webkit-scrollbar {
    width: 6px;
    background: #000000;
    border-radius: 100%;
}
.loginBox{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 628px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}

.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}
h2{
    margin: 0;
    padding: 0 0 20px;
    color: #950af1;
    text-align: center;
}
.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
::placeholder
{
    color: rgba(255,255,255,.5);
}
.loginBox .sign_in{
    border-radius: 20px;
    height: 40px;
    background: #f5abc1;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
}
.loginBox .new_account{
    border-radius: 20px;
    height: 40px;
    background: rgb(39, 196, 39);
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
}
.loginBox button:hover{
    background:#950af1;
    color: #fff;
}
.loginBox a{
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    background-color: #f5abc1;
    padding: 5px;   
}
.references{
    display: flex;
    justify-content: center;
}
.loginBox a:hover{
    background: #950af1;
    color: #fff;
}
